html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(235, 235, 235);
    scroll-behavior: smooth;
    width: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar_list  {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 70px;
    background-color: #333;
    z-index: 100;
}
header {
    display: block;
    margin: 5px;
}
li {
 
    padding: 5px;
    margin: auto;
    text-align: center;
    opacity: 0.8;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#navbar_list > li:hover{
    opacity: 1;
    cursor: pointer;
}

.active_nav {
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 5px;
}



.footer {
    background-color: rgb(63, 62, 62);
    color: white;
    text-align: center;
    padding: 10px;
}

.active {
    background-color: whitesmoke;
}

img {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
    padding: 10px;
}
.text {
    background-color: rgba(197, 197, 197, 0.452);
    margin: auto;
    padding: 15px;
    -webkit-box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.17); 
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.17);
    margin-left: 10px;
    margin-right: 10px;
}


@media (min-width: 801px) {
    section {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        height: 700px;
    }
}
@media (max-width: 800px) {
    section {
        display: flex;
        flex-direction: column;
    }
    .text {
        margin: 15px;
        font-size: 14px;
    }
    h1{
        text-align: center;
    }
    a {
        font-size: 12px;
    }
}